@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-family}.ttf?13kky2') format('truetype'),
    url('#{$icomoon-font-family}.woff?13kky2') format('woff'),
    url('#{$icomoon-font-family}.svg?13kky2##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-add-package {
  &:before {
    content: $icon-add-package;
  }
}
.icon-save {
  &:before {
    content: $icon-save;
  }
}
.icon-cancel {
  &:before {
    content: $icon-cancel;
  }
}
.icon-move {
  &:before {
    content: $icon-move;
  }
}
.icon-add {
  &:before {
    content: $icon-add;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-delete {
  &:before {
    content: $icon-delete;
  }
}
.icon-ok {
  &:before {
    content: $icon-ok;
  }
}
.icon-expand {
  &:before {
    content: $icon-expand;
  }
}
.icon-collapse {
  &:before {
    content: $icon-collapse;
  }
}
.icon-replace {
  &:before {
    content: $icon-replace;
  }
}

