$icomoon-font-family: "my" !default;
//$icomoon-font-path: "fonts/icons" !default;

$icon-edit: "\e905";
$icon-add-package: "\e931";
$icon-save: "\e962";
$icon-cancel: "\e967";
$icon-move: "\ea03";
$icon-add: "\ea0a";
$icon-close: "\ea0d";
$icon-delete: "\ea0f";
$icon-ok: "\ea10";
$icon-expand: "\ea42";
$icon-collapse: "\ea43";
$icon-replace: "\ea7f";
