<template>
  <div class="ambient-chart-wrapper" :class="id + '-wrapper'">
    <label>
      <slot></slot>
    </label>
    <div class="canvas-wrapper">
      <canvas :id="id"></canvas>
    </div>
  </div>
</template>

<script>
import Chart from "chart.js/auto";
import {Sensor} from "../../Sensor";

Chart.defaults.font.size = 14;
Chart.defaults.font.family = "'OpenSans Regular', 'Verdana', sans-serif";

export default {
  name: "AmbientChart",
  data() {
    return {
      chart: {
        type: "line",
        data: {
          labels: this._getLabels(this.data),
          datasets: [
            {
              label: "Температура в комнате",
              data: this._getHouseTemperatures(this.data),
              fill: false,
              backgroundColor: "red",
              borderColor: "red",
              borderWidth: 1
            },
            {
              label: "Влажность в комнате",
              data: this._getHouseHumidity(this.data),
              fill: false,
              backgroundColor: "blue",
              borderColor: "blue",
              borderWidth: 1
            },
            {
              label: "Температура на улице",
              data: this._getOutdoorsTemperatures(this.data),
              fill: false,
              backgroundColor: "rgb(0, 100, 0)",
              borderColor: "rgb(0, 100, 0)",
              borderWidth: 1
            },
            {
              type: 'bar',
              label: 'Ночь',
              data: this._getNightData(this.data),
            }
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          line: {
            tension: 0,
          },
          scales: {
            y: {
              suggestedMin: this._getOutdoorsMinTemperature(this.data),
            },
            x: {
              ticks: {
                maxRotation: 90,
                minRotation: 90,
              },
            }
          },
          plugins: {
            tooltip: {
              filter: (tooltipItem) => {
                return tooltipItem.datasetIndex !== 3;
              }
            },
            legend: {
              labels: {
                filter: (legendItem) => {
                  return 'by-hours-chart' === this.id || legendItem.datasetIndex !== 3;
                }
              }
            }
          }
        }
      }
    };
  },
  props: {
    data: Array,
    id: String,
    addDataEvent: String,
  },
  methods: {
    _getLabels(data) {
      return this._getBySid(data, Sensor.ROOM1).map(item => item.time.ui);
    },
    _getHouseTemperatures(data) {
      return this._getBySid(data, Sensor.ROOM1).map(item => item.t);
    },
    _getHouseHumidity(data) {
      return this._getBySid(data, Sensor.ROOM1).map(item => item.h);
    },
    _getOutdoorsTemperatures(data) {
      return this._getBySid(data, Sensor.OUTDOORS1).map(item => item.t);
    },
    _getOutdoorsMinTemperature(data) {
      let temperatures = this._getOutdoorsTemperatures(data);
      return Math.min(temperatures);
    },
    _getNightData(data) {
      let result = [];
      if ('by-hours-chart' === this.id) {
        let indoorsData = this._getBySid(data, Sensor.ROOM1);
        let humidity = indoorsData.map(item => item.h);
        let max = Math.ceil(Math.max.apply(Math, humidity));
        let min = Math.floor(Math.min.apply(Math, humidity));

        result = indoorsData.filter(item => {
          let time = parseInt(item.time.raw.split(' ')[1].replace(':', ''));
          return (time > 2200 || time < 800);
        }).map(item => {
          let y = max;
          if (min < 0) {
            y += Math.abs(min);
          }
          return {x: item.time.ui, y: y};
        });
      }

      return result;
    },
    _getBySid(data, sid) {
      return data.filter(item => item.sid === sid);
    }
  },
  mounted() {
    let ctx = document.getElementById(this.id);
    let chart = new Chart(ctx, this.chart);

    this.eventBus.on(this.addDataEvent, (data) => {
      chart.data.labels = this._getLabels(data.data);
      chart.data.datasets[0].data = this._getHouseTemperatures(data.data);
      chart.data.datasets[1].data = this._getHouseHumidity(data.data);
      chart.data.datasets[2].data = this._getOutdoorsTemperatures(data.data);
      chart.options.scales.y.suggestedMin = this._getOutdoorsMinTemperature(data.data);
      if ('by-hours-chart' === this.id) {
        chart.data.datasets[3].data = this._getNightData(data.data);
      }

      chart.update();
    });
  }
};
</script>
