<template>
  <ul class="list-items missing-minutes-items">
    <li class="missing-minutes-item" :class="item.css_class" v-for="item of items">
      <button class="btn btn-link" type="button" @click="toggleDetails(item)">
        <span class="date">{{ item.date }}</span>
        <span class="days">{{ item.count }}</span>
      </button>
      <ul class="missing-minutes" v-if="item.is_details_visible">
        <li v-for="minute of item.details" class="missing-minute">
          <div class="item-info">
            <div class="local">{{ minute.local }}</div>
            <div class="utc">({{minute.utc}} UTC)</div>
          </div>
          <ul class="logs" v-if="minute.logs.length">
            <li v-for="log of minute.logs">{{ log }}</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</template>

<script>
import axios from "axios";

export default {
  name: "MissingMinutes",
  props: {
    missingMinutes: Array,
  },
  data() {
    return {
      items: this._initItems(),
    };
  },
  methods: {
    _initItems() {
      let items = [];
      for (let missingMinutesItem of this.missingMinutes) {
        let item = Object.assign({}, missingMinutesItem);
        item.details = [];
        item.is_details_visible = false;
        items.push(item);
      }
      return items;
    },
    toggleDetails(item) {
      if (item.is_details_visible) {
        item.is_details_visible = false;
        return;
      }

      if (!item.details.length) {
        axios.get(route("api.ambient.get_date_missing_minutes", {
          date: item.date,
        })).then((response) => {
          if ("success" === response.data.type) {
            item.details = response.data.minutes;
            item.is_details_visible = true;
          }
        });
      }
      else {
        item.is_details_visible = true;
      }
    }
  }
};
</script>
