
.last-measure {
  margin: 1em 0 1.5em;
  text-align: center;
}
.last-measure .label {
  margin-bottom: 0.5em;
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  justify-content: center;
}
.last-measure-content label {
  text-transform: uppercase;
}
.house,
.outdoors {
  padding: 0.5em 1em;
  text-align: center;
}
.house {
  color: brown;
}
.outdoors {
  color: darkgreen;
}
.last-measure .temperature,
.last-measure .humidity{
  font-weight: bolder;
  width: 6em;
  height: 5em;
  border-radius: 50%;
  line-height: 5em;
  text-align: center;
}
.house .temperature{
  color: #ff2400;
  border: 2px solid #ff2400;
  background: #ffeae8;
}
.house .humidity{
  color: #08f;
  border: 2px solid #08f;
  background: aliceblue;
}
.outdoors .temperature {
  color: green;
  border: 2px solid green;
  background: #d4ffd4;
}

.last-measure-content {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}
.last-measure-values {
  display: flex;
  gap: .5em;
}

.canvas-wrapper {
  position: relative;
  height: 400px;
  width: 99%;
}
.ambient-chart-wrapper:not(:last-child) {
  margin-bottom: 2em;
}
.ambient-chart-wrapper label {
  text-align: center;
  margin-bottom: 1em;
}
$tabs-border: 1px solid #888;

.tabs-links {
  display: flex;
  justify-content: center;
  border-bottom: $tabs-border;
}
.tabs-links button {
  font-size: 1.3em;
  padding: 0.3rem .5rem;
}
.tabs-links > li {
  border: $tabs-border;
  border-radius: 0.5em 0.5em 0 0;
  background: #fafafa;
  border-bottom: none;
}
.tabs-links > li:not(:last-child) {
  border-right: none;
}
.tabs-links > li.active {
  background: white;
  position: relative;
  top: 1px;
}
.tab-content .content {
  display: none;
}
.tab-content .active {
  display: block;
}
.missing-minutes {
  font-size: 0.9em;
}
.logs {
  font-style: italic;
  margin-bottom: 1em;
}

.missing-minutes-item > button .date {
  margin-right: 1em;
}
.missing-minutes-item > button .days {
  display: inline-block;
  width: 2.5em;
  text-align: right;
}
