@import 'variables';
@import "base";
@import '../fonts/icons/style';
@import 'menu';
@import "buttons";
@import "form";
@import "alert";

@font-face {
  font-family: 'OpenSans Regular';
  font-weight: 400;
  font-display: auto;
  src: local('Open Sans'), url('../fonts/opensans/regular.woff') format('woff');
}

.content {
  padding: 0 1em 1em 1em;
}

table, td, th {
  background-color: white;
  border: 1px solid #dee2e6;
}

table {
  border-collapse: collapse;
  text-align: left;
}

table thead th {
  vertical-align: bottom;
  font-weight: bolder;
}

table th {
  padding: 0.3rem 0.5rem;
}

table td, {
  padding: 0.1rem 0.4rem;
}

.list-items .item-info {
  display: flex;
  gap: 1em;
  padding: 0 .3em;
}

.list-items ul {
  margin-left: 2.5rem;
}

.day-item {
  display: flex;
}

.day-item::before {
  content: '';
  width: 1em;
}

.is-today .day-item::before {
  content: '>';
}

.weekday {
  width: 2em;
}

.is-past,
.is-future {
  color: gray;
}

.last-items {
  margin: 0.5em 0;
}

.inline-form {
  display: inline-block;
  margin: 1em 0;
}

.inline-form .form-group {
  margin-bottom: 0;
}

tr .value {
  text-align: right;
}

//@media screen and (max-width: 800px) {
//  body,
//  button {
//    font-size: 20px;
//  }
//}
