@import 'variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $color;
}

body,
input,
select,
textarea,
button {
  font-family: "OpenSans Regular", 'Verdana', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 1em 0;
}

header {
  h2, h3, h4, h5 {
    margin: 0;
  }

  h1 {
    line-height: 1;
  }
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .8em;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

ul ul {
  margin-left: 0.5em;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

a,
a:visited,
a:focus {
  color: #007bff;
  cursor: pointer;
}

a:hover,
a:active {
  color: #004c9d;
}
