@import "variables";

$rect-padding: .2em .5em;

.calendar {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1em .5em;

  thead td, thead th {
    background-color: #ebe9e9;
  }
}

.filter-form {
  margin-bottom: 1em;
}

.day {
  border: 1px solid #bbb;
  padding: $rect-padding;
  text-align: center;
}

//.day:not(.past) {
//  cursor: pointer;
//}

.day.past {
  color: #bbb;
}

.day.weekend,
.day.official-holiday {
  color: #ff00c2;
}

.day.official-holiday {
  font-weight: bold;
}

//.day.holiday:not(.past),
//.day:not(.past):hover {
//  background-color: #5fdbff;
//}

.day.checked {
  color: #f00;
}

.day.has-data {
  cursor: pointer;
  font-weight: bolder;
  color: green;
  //background-color: green;
  //color: white;
}

.day.past.holiday {
  color: #ff85e2;
  background-color: #e8f0ff;
}

.day.today {
  font-weight: bolder;
  box-shadow: 0 -3px 0 red inset;
}

.month-name {
  text-align: center;
  background-color: #eee !important;
  border-bottom: 1px solid #bbb;
}

.weekday-name {
  text-align: center;
  padding: $rect-padding;
}
