$dark: #252525;

.main-menu-bar {
  display: flex;
  gap: 1em;
  padding: .5em 1em;
  background: linear-gradient(#626262, $dark);
}

.main-menu-bar a {
  padding: .2em .3em;
  text-shadow: 0 0 1px $dark;
  text-transform: uppercase;
}

.main-menu-bar a,
.main-menu-bar a:hover,
.main-menu-bar a:focus {
  color: white;
}

.main-menu-bar a:not(.active):hover {
  box-shadow: 0 0 5px 2px;
}

.main-menu-bar .active {
  box-shadow: 0 0 5px 2px inset, 0 0 5px 0 $dark;
}

.main-menu-bar a:focus {
  text-shadow: none;
}

.main-menu-bar > a {
  width: 7em;
  text-align: center;
}

.main-menu-bar .menu-links {
  display: flex;
}

.main-menu-bar li > a {
  display: block;
  position: relative;
}

.sub-menu {
  display: flex;
  padding: .5em;
}

.sub-menu li {
  padding: .3em;
}
