.summer-winter-wrapper{display:flex;gap:1em}.plants{display:flex;flex-wrap:wrap;gap:.5em;margin-top:1em}.plant-home-item{border:1px solid #858585;width:300px}.plant-info .description{border-bottom:1px solid;height:4em;margin-bottom:1em;padding-bottom:1em}.plant-info .periodicity{margin:.5em 0}.periodicity>div{display:flex;gap:.5em}.plant-home-item .form-group,.plant-home-item label{margin-bottom:0}li.is-watering-day{background-color:#01a183;color:#fff;font-weight:bolder}li.is-watering-day.is-past{background-color:gray}li.is-watering-day.is-today{background-color:red}
