<template>
  <fieldset class="plant-home-item">
    <legend>{{ plant.title }}</legend>
    <div class="plant-info">
      <div class="description">
        {{plant.description}}
      </div>
      <div class="periodicity">
        <div class="summer"><label>Лето:</label><span>{{plant.summer_periodicity}}</span></div>
        <div class="winter"><label>Зима:</label><span>{{plant.winter_periodicity}}</span></div>
      </div>
    </div>
    <ul class="list-items week schedule">
      <li v-for="(day, index) in plant.days" :class='dayCssClass(day)' :key="index">
        <div class="item-info">
          <div class="day-item schedule-item"><div class="weekday">{{ day.weekday }}</div><div class="date">{{ day.date }}</div></div>
          <div class="form-group checkbox" v-if="day.status !== 'is_future' && day.is_watering_day">
            <label><input id="executed" type="checkbox" @change="runExecuted(day, index)" v-if="day.status === 'is_today'"/>выполнено</label>
          </div>
        </div>
      </li>
    </ul>
  </fieldset>
</template>

<script>
import axios from 'axios';

export default {
  name: "HomeItem",
  data() {
    return {
      plant: this.initPlant,
    }
  },
  props: {
    initPlant: Object,
  },
  methods: {
    dayCssClass(date) {
      let css_class = date.status.replace(/_/g, '-');
      if (date.is_watering_day) {
        css_class += ' is-watering-day';
      }
      return css_class;
    },
    runExecuted(date, index) {
      axios.post(route('api.plants.watered', {
        id: this.plant.id,
        date: date.date,
      })).then((response) => {
        if ('success' === response.data.type) {
          this.plant.days[index].status = 'is_past';
          this.plant = Object.assign({}, this.plant);
        }
      });
    }
  }
};
</script>

