<template>
  <fieldset class="periodicity">
    <legend>Периодичность полива</legend>
    <div class="summer-winter-wrapper">
      <div class="form-group summer">
        <label for="summer">Летом</label>
        <select id="summer" name="summer_periodicity" @change="onSummerPeriodicityChanged">
          <option :value="value" v-for="(label, value) in periodicity">{{label}}</option>
        </select>
      </div>
      <div class="form-group winter">
        <label for="winter">Зимой</label>
        <select id="winter" name="winter_periodicity" @change="onWinterPeriodicityChanged">
          <option :value="value" v-for="(label, value) in periodicity">{{label}}</option>
        </select>
      </div>
    </div>
    <div class="form-group watering-date">
      <label for="next_watering_date">Первая дата полива</label>
      <input id="next_watering_date" class="form-control date" name="next_watering_date" type="date" v-model="firstWateringDate" @change="onFirstWateringDateChanged"/>
    </div>
    <fieldset v-if="scheduleDates.length">
      <legend>График</legend>
      <ul class="schedule">
        <li v-for="date in scheduleDates">{{date}}</li>
      </ul>
    </fieldset>
  </fieldset>

</template>

<script>
export default {
  name: "Periodicity",
  props: {
    periodicity: Object,
    summerPeriodicity: Number,
    winterPeriodicity: Number,
    todayIsSummer: Boolean,
  },
  data() {
    return {
      firstWateringDate: '',
      scheduleDates: [],
    }
  },
  methods: {
    /**
     *
     * @param date {Date}
     * @private
     */
    _dateStrForInput(date) {
      const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
      return date.toLocaleDateString(undefined, options).split('.').reverse().join('-');
    },
    _dateStrForHuman(date) {
      const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
      return date.toLocaleDateString(undefined, options);
    },
    _getInitialFirstWateringDate() {
      let date = new Date();
      if (this.todayIsSummer) {
        date.setDate(date.getDate() + this.summerPeriodicity);
      }
      else {
        date.setDate(date.getDate() + this.winterPeriodicity);
      }

      return this._dateStrForInput(date);
    },
    _getScheduleDates() {
      let scheduleDates = [];

      let date = new Date(this.firstWateringDate);
      scheduleDates.push(this._dateStrForHuman(date));

      for(let i = 0; i < 30; i++) {
        if (this.todayIsSummer) {
          date.setDate(date.getDate() + parseInt(this.summerPeriodicity, 10));
        }
        else {
          date.setDate(date.getDate() + parseInt(this.winterPeriodicity, 10));
        }
        scheduleDates.push(this._dateStrForHuman(date));
      }
      return scheduleDates;
    },
    onSummerPeriodicityChanged() {
      this.scheduleDates = this._getScheduleDates();
    },
    onWinterPeriodicityChanged() {
      this.scheduleDates = this._getScheduleDates();
    },
    onFirstWateringDateChanged() {
      this.scheduleDates = this._getScheduleDates();
    },
  },
  mounted() {
    this.firstWateringDate = this._getInitialFirstWateringDate();
    this.scheduleDates = this._getScheduleDates();
  }
};
</script>
